<mat-toolbar color="primary">
    <button style="color:white; border: 0px; background-color:#3f51b5" routerLink="/"><h3>1</h3></button>
    <span style="padding-left: 30px;"></span>
    <button style="color:white; border: 0px; background-color:#3f51b5" routerLink="/"><h3>2</h3></button>
    <span style="padding-left: 30px;"></span>
    <button *ngIf="session.getItem('token') != undefined" style="color:white; border: 0px; background-color:#3f51b5" routerLink="/history"><h3>History</h3></button>
    <span class="fx-spacer"></span>
    <a *ngIf="session.getItem('username') == null; then notLoggedIn else loggedIn"> </a>
</mat-toolbar>
  
  <ng-template #notLoggedIn>
    <button mat-raised-button color="indigo" style="float:right; margin-right: 10%" (click)="connectToMetamask()">Login with metamask</button>
  </ng-template>
  
  <ng-template #loggedIn>
    <div ngbDropdown>
      <button mat-raised-button [matMenuTriggerFor]="profile" style="background-color: white; color: #3f51b5; border:0px;"> {{session.getItem("fiscalCode")}} </button>
      <mat-menu #profile="matMenu" class="mymegamenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon> Logout </button>
      </mat-menu>
    </div>
  </ng-template>