<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
        </div>
        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <a class="nav-brand" *ngIf="sessionStorageHeader.getItem('userID') == null; then notLoggedIn else loggedIn">
            </a>
        </div>
        <!-- Right elements -->
    </div>
</nav>


<ng-template #notLoggedIn>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="login" ngbDropdownToggle>Login</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <div class="px-0 py-3">
                    <form (submit)="loginFunction($any(username.value), $any(psw.value), $event)">
                        <div class="mb-3">
                            <label for="user">Username</label>
                            <input type="text" class="form-control" id="username" #username placeholder="Username"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="psw">Password</label>
                            <input type="password" class="form-control" id="psw" #psw placeholder="Password" required>
                        </div>
                        <div class="alert alert-danger" style="width:300px; display: none;" id="loginErrorMessage"
                            role="alert"></div>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                        <button class="btn btn-primary" [routerLink]="['/signUp']">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #loggedIn>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="userManagement"
                ngbDropdownToggle>{{sessionStorageHeader.getItem("username")}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a ngbDropdownItem> <button class="btn btn-danger" (click)="logout()">Logout</button></a>
                <a ngbDropdownItem> <button class="btn btn-info" [routerLink]="['/account']"> Manage account
                    </button></a>
            </div>
        </div>
    </div>
</ng-template>