<div>
    <h3 style="color: red;">Cambia Dati</h3>
    <form (submit)="edit($any(username.value), $any(email.value), $any(psw.value), $any(psw2.value), $any(target.value),$event)">
        <div>
            <label for="username"><b>Inserire username*</b></label>
            <input type="text" class="form-control-plaintext" style="width: 300px;" id="username" #username disabled>
        </div>
        <div>
            <label for="email"><b>Inserire email*</b></label>
            <input type="text" class="form-control" style="width: 300px;" id="email" #email required>
        </div>
        <div>
            <label for="password"><b>Inserire password* (per conferma o modifica)</b></label>
            <input type="password" class="form-control" style="width: 300px;" id="psw" #psw required>
        </div>
        <div>
            <label for="password2"><b>Confermare password* (per conferma o modifica) </b></label>
            <input type="password" class="form-control" style="width: 300px;" id="psw2" #psw2 required>
        </div>
        <div>
            <label for="target"><b>Inserire target</b></label>
            <select class="form-select" style="width:300px" name="target" id="target" #target>
                <option value="Principiante">Principiante</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Esperto">Esperto</option>
              </select>
        </div>
        <b> * campi obbligatori </b><br>
        <button class="btn btn-success" type="submit">Modifica account</button>
        <div class="alert alert-danger" style="width:300px; display: none;" id="manageAccountErrorMessage" role="alert"></div>
        <div class="alert alert-info" style="width:300px; display: none;" id="infoUpdatedMessage" role="info"></div>
    </form>
</div>