<div class="example-full-width">
    <div class="center" style="width:100%">
      <form class="example-list">
        <h1 style="text-align: center;">New call form</h1><br>
        <h3 style="text-align: center"><b style="color: red">{{errorMessage}}</b></h3>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> Name: </mat-label>
            <textarea matInput  id="name" #name placeholder="Name" required></textarea>
          </mat-form-field><br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> Description: </mat-label>
            <textarea matInput  id="description" #description placeholder="Description" required></textarea>
          </mat-form-field><br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> ISEE: </mat-label>
            <input matInput type="number" [min]="0"  id="ISEE" #ISEE value="150000" required>
          </mat-form-field><br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> Budget: </mat-label>
            <input matInput type="number" [min]="0"  id="Budget" #BUDGET value="2000000" required>
          </mat-form-field><br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> Credits per year: </mat-label>
            <input matInput type="number" style="width:25%;" id="credit1" [min]="0" [max]="300" value="0" #credit1 required>
            <input matInput type="number" style="width:25%; padding-left: 12%;" id="credit2" [min]="0" [max]="300" value="60" #credit2 required>
            <input matInput type="number" style="width:25%; float:right;" id="credit3" [min]="0" [max]="300" value="120" #credit3 required>
          </mat-form-field><br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> Funds per student per year: </mat-label>
            <input matInput type="number" style="width:25%;" id="fund1" [min]="0" [max]="10000" value="0" #fund1 required>
            <input matInput type="number" style="width:25%; padding-left: 12%;" id="fund2" [min]="0" [max]="10000" value="60" #fund2 required>
            <input matInput type="number" style="width:25%; float:right;" id="fund3" [min]="0" [max]="10000" value="120" #fund3 required>
          </mat-form-field><br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose the end date</mat-label>
            <input matInput [matDatepicker]="picker" id="endDate" #endDate>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field><br>       
        <span style="padding-left: 45%"></span>
        <button mat-raised-button color="primary" (click)="add(name.value, description.value, $any(ISEE.value), $any(BUDGET.value), $any(credit1.value), $any(credit2.value), $any(credit3.value), $any(fund1.value), $any(fund2.value),$any(fund3.value), $any(endDate.value), $event)">Add</button>
      </form><br>
    </div>
  </div>