<div>
    <h2>{{callName}}</h2>

    <ul class="list-group" *ngFor="let ranking of rankings">
        <li *ngIf="session.getItem('address')!= null && ranking.address==session.getItem('address')" class="list-group-item" id="{{ranking.address}}">
            {{ranking.address}}: {{ranking.score}} ({{ranking.ISEE}} euro, {{ranking.credits}}, {{ranking.year}}, {{ranking.status}}) => {{ranking.funds}} euro </li>
        <li class="list-group-item" id="{{ranking.address}}">
            {{ranking.address}}: {{ranking.score}} ({{ranking.ISEE}} euro, {{ranking.credits}}, {{ranking.year}}, {{ranking.status}}) => {{ranking.funds}} euro </li>
    </ul>
</div>