<div style="padding-left: 30px; padding-top: 30px;">
    <h2>{{callName}}</h2>
    <h2>{{rankingInfo}}</h2>

    <ul class="list-group" *ngFor="let ranking of rankings">
        <li *ngIf="checkUser(ranking.address)" class="list-group-item" id="{{ranking.address}}">
            <b> {{ranking.address}}: {{ranking.score}} ({{ranking.ISEE}}, {{ranking.credits}}, {{ranking.year}}, {{ranking.status}}) => {{ranking.funds}} euro </b></li>
        <li *ngIf="checkUser(ranking.address)==false"  class="list-group-item" id="{{ranking.address}}">
            {{ranking.address}}: {{ranking.score}} ({{ranking.ISEE}}, {{ranking.credits}}, {{ranking.year}}, {{ranking.status}}) => {{ranking.funds}} euro </li>
    </ul>
</div>