# .env.example

# This is an example file for running the app locally.
# This must be copied into .env file

# Private key of Opera Universitaria wallet account 
OPERA_PRIVATE_KEY='opera-private-key'

# Url to the MongoDb database
DB_URL='your-db-url-with-user-and-password'