<style>
    .callList {
        float: left;
        margin-left: 1%;
        width: 49%;
        height: 100%;
    }

    .call {
        float: right;
        margin-right: 1%;
        width: 49%;
    }
</style>

<div>
    <div class="callList">
        <h2>CALL LIST</h2>
        <ul class="list-group" *ngFor="let element of calls">
            <li class="list-group-item" style="width:500px;" (click)="callDetail($event)" id="{{element.name}}">
                {{element.name}}: {{element.description}} </li>
        </ul>
    </div>
    <div class="call">
        <div id="callInfoModule" style="display: none;">
            <h2 style="padding-top: 20px;"><b>CALL DETAIL</b></h2>
            <div id="callInfo"></div>
            <br>
            <h2 style="color:red" *ngIf="verifyEndDate() == true && session.getItem('fiscalCode') == null && session.getItem('admin') == null">Login to apply</h2>
            <button *ngIf="session.getItem('admin') != null" (click)="computeRanking()"> Compute Ranking </button>
            <button *ngIf="verifyEndDate() == true && session.getItem('fiscalCode') != null" (click)="applyForCall()"> Apply </button>
            <button *ngIf="verifyEndDate() == false"> View List </button>
            <br>
        </div>
    </div>
</div>